<a href="#/posts">Go Back</a>
<div class="panel panel-default" ng-init="getPost()">
  <div class="panel-heading">
    <h3 class="panel-title text-center">{{post.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">{{post.postContent}}</p>
      </div>
    </div>
  </div>
</div>
<div class="pull-right">
  <a href="#/posts/edit/{{post._id}}">Edit</a> | <a href="#" ng-click="deletePost(post._id)">Delete</a>
</div>
